In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv("pizza sales.csv")

In [3]:
df.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_details_id   48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_id           48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [5]:
df.describe()

,order_details_id,order_id,quantity,unit_price,total_price
count,48620.000000,48620.000000,48620.000000,48620.000000,48620.000000
mean,24310.500000,10701.479761,1.019622,16.494132,16.821474
std,14035.529381,6180.119770,0.143077,3.621789,4.437398
min,1.000000,1.000000,1.000000,9.750000,9.750000
25%,12155.750000,5337.000000,1.000000,12.750000,12.750000
50%,24310.500000,10682.500000,1.000000,16.500000,16.500000
75%,36465.250000,16100.000000,1.000000,20.250000,20.500000
max,48620.000000,21350.000000,4.000000,35.950000,83.000000

In [6]:
df.sample(5)

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
47026,47027,20670,ckn_alfredo_m,1,12/17/2015,17:17:21,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
21654,21655,9506,bbq_ckn_m,2,6/9/2015,11:55:15,16.75,33.50,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
7801,7802,3431,cali_ckn_s,1,2/27/2015,16:27:45,12.75,12.75,S,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
4771,4772,2112,bbq_ckn_s,1,2/4/2015,22:07:51,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
38121,38122,16819,thai_ckn_l,1,10/11/2015,19:45:53,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

order_details_id     0
order_id             0
pizza_id             0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

#### Missing Values

In [10]:
df.isna().sum()

order_details_id     0
order_id             0
pizza_id             0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [11]:
df.describe(include='all')

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
count,48620.000000,48620.000000,48620,48620.000000,48620,48620,48620.000000,48620.000000,48620,48620,48620,48620
unique,NaN,NaN,91,NaN,358,16382,NaN,NaN,5,4,32,32
top,NaN,NaN,big_meat_s,NaN,11/26/2015,12:32:00,NaN,NaN,L,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
freq,NaN,NaN,1811,NaN,261,26,NaN,NaN,18526,14579,2416,2416
mean,24310.500000,10701.479761,NaN,1.019622,NaN,NaN,16.494132,16.821474,NaN,NaN,NaN,NaN
std,14035.529381,6180.119770,NaN,0.143077,NaN,NaN,3.621789,4.437398,NaN,NaN,NaN,NaN
min,1.000000,1.000000,NaN,1.000000,NaN,NaN,9.750000,9.750000,NaN,NaN,NaN,NaN
25%,12155.750000,5337.000000,NaN,1.000000,NaN,NaN,12.750000,12.750000,NaN,NaN,NaN,NaN
50%,24310.500000,10682.500000,NaN,1.000000,NaN,NaN,16.500000,16.500000,NaN,NaN,NaN,NaN
75%,36465.250000,16100.000000,NaN,1.000000,NaN,NaN,20.250000,20.500000,NaN,NaN,NaN,NaN
max,48620.000000,21350.000000,NaN,4.000000,NaN,NaN,35.950000,83.000000,NaN,NaN,NaN,NaN

In [24]:
print("The length of the dataset is", df.shape)

The length of the dataset is (48620, 12)

#### Explore categorical columns

In [14]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\n--- Unique Values in {col} ---")
    print(df[col].unique())
    print(f"\n--- Value Counts for {col} ---")
    print(df[col].value_counts())

--- Unique Values in pizza_id ---
['hawaiian_m' 'classic_dlx_m' 'five_cheese_l' 'ital_supr_l' 'mexicana_m'
 'thai_ckn_l' 'ital_supr_m' 'prsc_argla_l' 'bbq_ckn_s' 'the_greek_s'
 'spinach_supr_s' 'classic_dlx_s' 'green_garden_s' 'ital_cpcllo_l'
 'ital_supr_s' 'mexicana_s' 'spicy_ital_l' 'spin_pesto_l' 'veggie_veg_s'
 'mexicana_l' 'southw_ckn_l' 'bbq_ckn_l' 'cali_ckn_l' 'cali_ckn_m'
 'pepperoni_l' 'cali_ckn_s' 'ckn_pesto_l' 'big_meat_s' 'soppressata_l'
 'four_cheese_l' 'napolitana_s' 'calabrese_m' 'four_cheese_m'
 'ital_veggie_s' 'mediterraneo_m' 'peppr_salami_s' 'spinach_fet_l'
 'napolitana_l' 'sicilian_l' 'ital_cpcllo_m' 'southw_ckn_s' 'bbq_ckn_m'
 'pepperoni_m' 'prsc_argla_s' 'sicilian_m' 'veggie_veg_l' 'ckn_alfredo_s'
 'pepperoni_s' 'green_garden_l' 'green_garden_m' 'pep_msh_pep_l'
 'hawaiian_s' 'peppr_salami_m' 'ckn_alfredo_m' 'peppr_salami_l'
 'spin_pesto_s' 'thai_ckn_m' 'classic_dlx_l' 'ckn_pesto_m' 'the_greek_xl'
 'hawaiian_l' 'pep_msh_pep_s' 'spinach_supr_m' 'prsc_argla_m'
 'mediterraneo_l' 'southw_ckn_m' 'pep_msh_pep_m' 'sicilian_s'
 'spicy_ital_s' 'thai_ckn_s' 'spinach_supr_l' 'ital_veggie_l'
 'veggie_veg_m' 'the_greek_m' 'ckn_pesto_s' 'spinach_fet_s' 'spicy_ital_m'
 'ital_veggie_m' 'ital_cpcllo_s' 'mediterraneo_s' 'spinach_fet_m'
 'napolitana_m' 'spin_pesto_m' 'brie_carre_s' 'ckn_alfredo_l'
 'calabrese_s' 'the_greek_l' 'soppressata_m' 'soppressata_s' 'calabrese_l'
 'the_greek_xxl']

--- Value Counts for pizza_id ---
pizza_id
big_meat_s        1811
thai_ckn_l        1365
five_cheese_l     1359
four_cheese_l     1273
classic_dlx_m     1159
                  ...
mexicana_s         160
calabrese_s         99
ckn_alfredo_s       96
green_garden_l      94
the_greek_xxl       28
Name: count, Length: 91, dtype: int64

--- Unique Values in order_date ---
['1/1/2015' '1/2/2015' '1/3/2015' '1/4/2015' '1/5/2015' '1/6/2015'
 '1/7/2015' '1/8/2015' '1/9/2015' '1/10/2015' '1/11/2015' '1/12/2015'
 '1/13/2015' '1/14/2015' '1/15/2015' '1/16/2015' '1/17/2015' '1/18/2015'
 '1/19/2015' '1/20/2015' '1/21/2015' '1/22/2015' '1/23/2015' '1/24/2015'
 '1/25/2015' '1/26/2015' '1/27/2015' '1/28/2015' '1/29/2015' '1/30/2015'
 '1/31/2015' '2/1/2015' '2/2/2015' '2/3/2015' '2/4/2015' '2/5/2015'
 '2/6/2015' '2/7/2015' '2/8/2015' '2/9/2015' '2/10/2015' '2/11/2015'
 '2/12/2015' '2/13/2015' '2/14/2015' '2/15/2015' '2/16/2015' '2/17/2015'
 '2/18/2015' '2/19/2015' '2/20/2015' '2/21/2015' '2/22/2015' '2/23/2015'
 '2/24/2015' '2/25/2015' '2/26/2015' '2/27/2015' '2/28/2015' '3/1/2015'
 '3/2/2015' '3/3/2015' '3/4/2015' '3/5/2015' '3/6/2015' '3/7/2015'
 '3/8/2015' '3/9/2015' '3/10/2015' '3/11/2015' '3/12/2015' '3/13/2015'
 '3/14/2015' '3/15/2015' '3/16/2015' '3/17/2015' '3/18/2015' '3/19/2015'
 '3/20/2015' '3/21/2015' '3/22/2015' '3/23/2015' '3/24/2015' '3/25/2015'
 '3/26/2015' '3/27/2015' '3/28/2015' '3/29/2015' '3/30/2015' '3/31/2015'
 '4/1/2015' '4/2/2015' '4/3/2015' '4/4/2015' '4/5/2015' '4/6/2015'
 '4/7/2015' '4/8/2015' '4/9/2015' '4/10/2015' '4/11/2015' '4/12/2015'
 '4/13/2015' '4/14/2015' '4/15/2015' '4/16/2015' '4/17/2015' '4/18/2015'
 '4/19/2015' '4/20/2015' '4/21/2015' '4/22/2015' '4/23/2015' '4/24/2015'
 '4/25/2015' '4/26/2015' '4/27/2015' '4/28/2015' '4/29/2015' '4/30/2015'
 '5/1/2015' '5/2/2015' '5/3/2015' '5/4/2015' '5/5/2015' '5/6/2015'
 '5/7/2015' '5/8/2015' '5/9/2015' '5/10/2015' '5/11/2015' '5/12/2015'
 '5/13/2015' '5/14/2015' '5/15/2015' '5/16/2015' '5/17/2015' '5/18/2015'
 '5/19/2015' '5/20/2015' '5/21/2015' '5/22/2015' '5/23/2015' '5/24/2015'
 '5/25/2015' '5/26/2015' '5/27/2015' '5/28/2015' '5/29/2015' '5/30/2015'
 '5/31/2015' '6/1/2015' '6/2/2015' '6/3/2015' '6/4/2015' '6/5/2015'
 '6/6/2015' '6/7/2015' '6/8/2015' '6/9/2015' '6/10/2015' '6/11/2015'
 '6/12/2015' '6/13/2015' '6/14/2015' '6/15/2015' '6/16/2015' '6/17/2015'
 '6/18/2015' '6/19/2015' '6/20/2015' '6/21/2015' '6/22/2015' '6/23/2015'
 '6/24/2015' '6/25/2015' '6/26/2015' '6/27/2015' '6/28/2015' '6/29/2015'
 '6/30/2015' '7/1/2015' '7/2/2015' '7/3/2015' '7/4/2015' '7/5/2015'
 '7/6/2015' '7/7/2015' '7/8/2015' '7/9/2015' '7/10/2015' '7/11/2015'
 '7/12/2015' '7/13/2015' '7/14/2015' '7/15/2015' '7/16/2015' '7/17/2015'
 '7/18/2015' '7/19/2015' '7/20/2015' '7/21/2015' '7/22/2015' '7/23/2015'
 '7/24/2015' '7/25/2015' '7/26/2015' '7/27/2015' '7/28/2015' '7/29/2015'
 '7/30/2015' '7/31/2015' '8/1/2015' '8/2/2015' '8/3/2015' '8/4/2015'
 '8/5/2015' '8/6/2015' '8/7/2015' '8/8/2015' '8/9/2015' '8/10/2015'
 '8/11/2015' '8/12/2015' '8/13/2015' '8/14/2015' '8/15/2015' '8/16/2015'
 '8/17/2015' '8/18/2015' '8/19/2015' '8/20/2015' '8/21/2015' '8/22/2015'
 '8/23/2015' '8/24/2015' '8/25/2015' '8/26/2015' '8/27/2015' '8/28/2015'
 '8/29/2015' '8/30/2015' '8/31/2015' '9/1/2015' '9/2/2015' '9/3/2015'
 '9/4/2015' '9/5/2015' '9/6/2015' '9/7/2015' '9/8/2015' '9/9/2015'
 '9/10/2015' '9/11/2015' '9/12/2015' '9/13/2015' '9/14/2015' '9/15/2015'
 '9/16/2015' '9/17/2015' '9/18/2015' '9/19/2015' '9/20/2015' '9/21/2015'
 '9/22/2015' '9/23/2015' '9/26/2015' '9/27/2015' '9/28/2015' '9/29/2015'
 '9/30/2015' '10/1/2015' '10/2/2015' '10/3/2015' '10/4/2015' '10/6/2015'
 '10/7/2015' '10/8/2015' '10/9/2015' '10/10/2015' '10/11/2015'
 '10/13/2015' '10/14/2015' '10/15/2015' '10/16/2015' '10/17/2015'
 '10/18/2015' '10/20/2015' '10/21/2015' '10/22/2015' '10/23/2015'
 '10/24/2015' '10/25/2015' '10/27/2015' '10/28/2015' '10/29/2015'
 '10/30/2015' '10/31/2015' '11/1/2015' '11/2/2015' '11/3/2015' '11/4/2015'
 '11/5/2015' '11/6/2015' '11/7/2015' '11/8/2015' '11/9/2015' '11/10/2015'
 '11/11/2015' '11/12/2015' '11/13/2015' '11/14/2015' '11/15/2015'
 '11/16/2015' '11/17/2015' '11/18/2015' '11/19/2015' '11/20/2015'
 '11/21/2015' '11/22/2015' '11/23/2015' '11/24/2015' '11/25/2015'
 '11/26/2015' '11/27/2015' '11/28/2015' '11/29/2015' '11/30/2015'
 '12/1/2015' '12/2/2015' '12/3/2015' '12/4/2015' '12/5/2015' '12/6/2015'
 '12/7/2015' '12/8/2015' '12/9/2015' '12/10/2015' '12/11/2015'
 '12/12/2015' '12/13/2015' '12/14/2015' '12/15/2015' '12/16/2015'
 '12/17/2015' '12/18/2015' '12/19/2015' '12/20/2015' '12/21/2015'
 '12/22/2015' '12/23/2015' '12/24/2015' '12/26/2015' '12/27/2015'
 '12/28/2015' '12/29/2015' '12/30/2015' '12/31/2015']

--- Value Counts for order_date ---
order_date
11/26/2015    261
11/27/2015    259
10/15/2015    258
7/4/2015      233
7/3/2015      207
             ...
12/27/2015     87
11/22/2015     82
12/29/2015     77
3/22/2015      76
12/30/2015     73
Name: count, Length: 358, dtype: int64

--- Unique Values in order_time ---
['11:38:36' '11:57:40' '12:12:28' ... '20:51:07' '21:14:37' '22:09:54']

--- Value Counts for order_time ---
order_time
12:32:00    26
11:59:10    24
12:53:29    23
12:52:36    23
12:26:04    23
            ..
12:32:48     1
22:04:30     1
20:35:35     1
12:43:50     1
22:09:54     1
Name: count, Length: 16382, dtype: int64

--- Unique Values in pizza_size ---
['M' 'L' 'S' 'XL' 'XXL']

--- Value Counts for pizza_size ---
pizza_size
L      18526
M      15385
S      14137
XL       544
XXL       28
Name: count, dtype: int64

--- Unique Values in pizza_category ---
['Classic' 'Veggie' 'Supreme' 'Chicken']

--- Value Counts for pizza_category ---
pizza_category
Classic    14579
Supreme    11777
Veggie     11449
Chicken    10815
Name: count, dtype: int64

--- Unique Values in pizza_ingredients ---
['Sliced Ham, Pineapple, Mozzarella Cheese'
 'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon'
 'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic'
 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic'
 'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic'
 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce'
 'Prosciutto di San Daniele, Arugula, Mozzarella Cheese'
 'Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce'
 'Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions'
 'Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese'
 'Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese'
 'Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano'
 'Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic'
 'Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce'
 'Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic'
 'Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce'
 'Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese'
 'Mozzarella Cheese, Pepperoni'
 'Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce'
 'Bacon, Pepperoni, Italian Sausage, Chorizo Sausage'
 'Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic'
 'Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic'
 'Tomatoes, Anchovies, Green Olives, Red Onions, Garlic'
 '慛duja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic'
 'Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce'
 'Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions'
 'Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic'
 'Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic'
 'Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic'
 'Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce'
 'Pepperoni, Mushrooms, Green Peppers'
 'Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic']

--- Value Counts for pizza_ingredients ---
pizza_ingredients
Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                                 2416
Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce                  2372
Sliced Ham, Pineapple, Mozzarella Cheese                                                             2370
Mozzarella Cheese, Pepperoni                                                                         2369
Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                                   2315
Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese                  2302
Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic                     1887
Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic                              1887
Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce         1885
Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic    1850
Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                              1849
Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                                   1811
Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic               1510
Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic          1456
Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                                1451
Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic                                                  1432
Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                                1428
Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                                  1422
Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                                       1414
Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                         1406
Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic         1359
Pepperoni, Mushrooms, Green Peppers                                                                  1342
Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese                                               987
Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                             980
Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce                            975
Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                          961
Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce                                957
Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic                              957
Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese          940
慛duja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                             927
Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions      923
Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                               480
Name: count, dtype: int64

--- Unique Values in pizza_name ---
['The Hawaiian Pizza' 'The Classic Deluxe Pizza' 'The Five Cheese Pizza'
 'The Italian Supreme Pizza' 'The Mexicana Pizza' 'The Thai Chicken Pizza'
 'The Prosciutto and Arugula Pizza' 'The Barbecue Chicken Pizza'
 'The Greek Pizza' 'The Spinach Supreme Pizza' 'The Green Garden Pizza'
 'The Italian Capocollo Pizza' 'The Spicy Italian Pizza'
 'The Spinach Pesto Pizza' 'The Vegetables + Vegetables Pizza'
 'The Southwest Chicken Pizza' 'The California Chicken Pizza'
 'The Pepperoni Pizza' 'The Chicken Pesto Pizza' 'The Big Meat Pizza'
 'The Soppressata Pizza' 'The Four Cheese Pizza' 'The Napolitana Pizza'
 'The Calabrese Pizza' 'The Italian Vegetables Pizza'
 'The Mediterranean Pizza' 'The Pepper Salami Pizza'
 'The Spinach and Feta Pizza' 'The Sicilian Pizza'
 'The Chicken Alfredo Pizza' 'The Pepperoni, Mushroom, and Peppers Pizza'
 'The Brie Carre Pizza']

--- Value Counts for pizza_name ---
pizza_name
The Classic Deluxe Pizza                      2416
The Barbecue Chicken Pizza                    2372
The Hawaiian Pizza                            2370
The Pepperoni Pizza                           2369
The Thai Chicken Pizza                        2315
The California Chicken Pizza                  2302
The Sicilian Pizza                            1887
The Spicy Italian Pizza                       1887
The Southwest Chicken Pizza                   1885
The Four Cheese Pizza                         1850
The Italian Supreme Pizza                     1849
The Big Meat Pizza                            1811
The Vegetables + Vegetables Pizza             1510
The Mexicana Pizza                            1456
The Napolitana Pizza                          1451
The Spinach and Feta Pizza                    1432
The Prosciutto and Arugula Pizza              1428
The Pepper Salami Pizza                       1422
The Italian Capocollo Pizza                   1414
The Greek Pizza                               1406
The Five Cheese Pizza                         1359
The Pepperoni, Mushroom, and Peppers Pizza    1342
The Green Garden Pizza                         987
The Chicken Alfredo Pizza                      980
The Italian Vegetables Pizza                   975
The Chicken Pesto Pizza                        961
The Spinach Pesto Pizza                        957
The Soppressata Pizza                          957
The Spinach Supreme Pizza                      940
The Calabrese Pizza                            927
The Mediterranean Pizza                        923
The Brie Carre Pizza                           480
Name: count, dtype: int64

In [15]:
# Display the distribution of data based on the quartiles and potential outliers.
plt.figure(figsize=(8, 5))  # Set figure size
ax = sns.boxplot(data=df[numeric_columns.columns])
plt.xticks(rotation=45)  # Rotate x-axis labels if needed
plt.title('Boxplot of Numeric Columns')
plt.xlabel('Columns')
plt.ylabel('Values of each column')
plt.grid(True)

# Calculate and plot the mean
mean_values = df[numeric_columns.columns].mean().values
plt.plot(range(len(mean_values)), mean_values, marker='o', markerfacecolor='white', markersize=6, markeredgecolor='black', linestyle='', label='Mean')

plt.legend()  # Show legend for mean marker
plt.show()

NameError: name 'numeric_columns' is not defined

In [ ]:
# Detect outliers using IQR (Interquartile Range)
Q1 = df['total_price'].quantile(0.25)
Q3 = df['total_price'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['total_price'] < Q1 - 1.5 * IQR) | (df['total_price'] > Q3 + 1.5 * IQR)]

#to show all outliers
outliers